/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************************************
            Fonts
************************************************/

html{
    font-family: 'Open Sans', serif;
    /*font-weight:300;*/
}




body{
    width:800px;
    margin:0 auto;
}



.logo{
    height:100px;
    background:orange;
}

li a{
    display:block;
    background:orange;
    text-align:center;
    padding:1em;
}


.overlaycontainer{
    position:relative;
    /* an element with position relative will contain other elements with position absolute */
}

.imageback{
    height:200px;
    /*background:green;*/
}

.overlay{
    font-size:42px;
    color:white;
    text-align:center;
    position:absolute;
    top:50px;
}

/* make a background image that stretches beyond the width of a centered site */
.overlaycontainer:after{
    content: '';
    background-image: url("../images/vision.jpg");
    /*background:green;*/

    /* use background position and background size to make sure the image always covers the div and doesn't repeat */
    background-position: center center;
    background-size: cover;

    position:absolute;
    top:0;
    height:100%;

    /* use right and left to position this element in the center of its container */
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;


    /* set the width to be the width of the browser window */
    width:100vw;

    /* set a negative z-index (or layer) to put this behind your content */
    z-index: -1;
}



/************************************************
            Table Styling
************************************************/
table{
    width:100%;
}

table, tr, th, td{
    border:1px solid black;
}

th, td{
    padding: 1em 0; /* two values means top-bottom / left-right */
}

td{
    padding-left:1em;
}

th:first-child{
    width:60%;
}
